

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.color-orange{
    color: #ff7e20;
}
/* main style */
header{
    background-color: #fdf3ec;
    padding-top: 50px;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    /* border: 2px solid #FD6E0A; */
    box-shadow: #b6510a 0px 10px 20px -10px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}