

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: bolder;
}

.color-orange{
    color: #ff7e20;
}
/* main style */
header{
    background-color: #faf4f0;
    padding-top: 50px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-position: top left, bottom right;    
    background-repeat: no-repeat;
    background-size: auto;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    /* border: 2px solid #FD6E0A; */
    box-shadow: #b6510a 0px 10px 20px -10px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}

.section-heading{
    max-width: 782px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: 700;
    gap: 30px;
    margin-bottom: 30px;
    color: #181818;
}

.section-heading p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 22px;
    color: #757575;
    margin-bottom: 35px;
    line-height: 30px;
}

#banner-image img {
    max-width: 584px;
    vertical-align: none;
}

#about{
    padding-top: 130px;
    align-items: center;

}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    justify-content: center;
    align-items: center;
    padding : 131px 156px;

}

#about .about-container .about-info{
    display: flex;
    max-width: 782px;
    padding: 20px 10px;
    gap: 30px;
    justify-content: space-around;
    text-align: center;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-info .info-card h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #474747;
    margin-bottom: 15px;
}

#skills{
    padding-top: 130px;

}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skill-box .skill-card {
    padding: 20px;
    box-shadow: 0px 6px 50px 0 #0000001c;
    /* border: 1px solid #000000; */
    max-height: 267px;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 20px;
}

.skill-card h3{
    font-size: 24px;
    color: #474747;
    margin-bottom: 15px;
}

.skill-card p{
    font-size: 14px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 30px;
}